a,
a:hover {
  color: #66b9ca
}
b {
  font-weight: 700
}
body {
  background: #fff;
  font-family: Gotham,sans-serif;
  line-height: 1.4em
}
footer a {
  color: #343a40;
  text-decoration: underline
}
footer a.fa {
  color: #343a40;
  text-decoration: none
}
footer a.fa:hover {
  text-decoration: underline
}
footer a:hover {
  color: #6c757d
}
h1 {
  font-size: 1em
}
h3 {
  font-size: 1.3em
}
h4 {
  font-size: 2em
}
body,
html {
  height: 100%;
  margin: 0
}
p.meta {
  color: #6c757d;
  font-size: .875em
}
strong {
  font-weight: 700
}
#id_voucher_input {
  font-family: 'Roboto Mono',monospace
}
.care-fund {
  color: #fcb827;
  display: block;
  font-size: 1.65em;
  font-weight: 700;
  margin: 0;
  white-space: nowrap
}
.ccf-myalia-org {
  color: #212529
}
.container-fluid {
  margin: 0 auto;
  max-width: 600px
}
.coronavirus {
  color: #66b9ca;
  display: block;
  font-size: 1.3em;
  font-weight: 700;
  margin: 0;
  white-space: nowrap
}
.error-list ul {
  list-style: none;
  margin: 0;
  padding: 0
}
.es .care-fund,
.es .coronavirus {
  font-size: 1em
}
.es .ndwa-logo {
  width: 80px
}
.form-field-input input {
  width: 100%
}
.form-field-input label {
  display: inline!important
}
.form-field-input label input {
  width: auto
}
.form-field-input li {
  padding: 16px 0
}
.form-field-input ul {
  list-style: none;
  padding: 0
}
.voucher-code-input-form {
  color: #343a40
}
.voucher-code-input-form input {
  text-transform: lowercase
}
.main {
  min-height: 100%;
  margin-bottom: -200px
}
.footer,
.push {
  height: 200px
}
.footer {
  width: 100%;
  /* background: lightgrey; */
  height: auto
}
.bg-primary {
  background-color: #66b9ca!important
}
.border-primary {
  border-color: #66b9ca!important
}
.btn {
  font-weight: 400
}
.btn-light,
.btn-light:active,
.btn-light:active:focus,
.btn-light:focus,
.btn-light:hover {
  background: #fff!important;
  border: solid #6c757d!important;
  color: #6c757d!important
}
.btn-outline-primary {
  border-color: #66b9ca;
  color: #66b9ca
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  background-color: transparent;
  color: #66b9ca
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(5,168,170,.5)
}
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #66b9ca;
  border-color: #66b9ca;
  color: #fff
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(5,168,170,.5)
}
.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #66b9ca;
  border-color: #66b9ca;
  color: #fff
}
.btn-primary.focus,
.btn-primary:focus {
  background-color: #5BA3B1;
  border-color: #5ba3b1;
  box-shadow: 0 0 0 .2rem rgba(43,181,183,.5);
  color: #fff
}
.btn-primary:hover {
  background-color: #5BA3B1;
  border-color: #5ba3b1;
  color: #fff
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #5ba3b1;
  border-color: #5ba3b1;
  color: #fff
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(43,181,183,.5)
}
.text-primary {
  color: #66b9ca!important
}
a.badge-primary.focus,
a.badge-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(5,168,170,.5);
  outline: 0
}
a.badge-primary:focus,
a.badge-primary:hover {
  background-color: #5ba3b1;
  color: #fff
}
a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
  background-color: #5ba3b1!important
}
a.text-primary:focus,
a.text-primary:hover {
  color: #5ba3b1!important
}
.btn-orange {
  background-color: #fcb827;
  border-color: transparent!important;
  color: #000
}
.btn-orange:active,
.btn-orange:focus,
.btn-orange:hover {
  background-color: #eca221!important;
  border-color: transparent!important;
  color: #000
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-Book.woff2) format('woff2');
  font-weight: 400
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-BookItalic.woff2) format('woff2');
  font-style: italic
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-BookItalic.woff2) format('woff2');
  font-style: oblique
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-Bold.woff2) format('woff2');
  font-weight: 700
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-BoldItalic.woff2) format('woff2');
  font-weight: 700;
  font-style: italic
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-BoldItalic.woff2) format('woff2');
  font-weight: 700;
  font-style: oblique
}
