{% extends "base_staff.html" %}
{% block title %}CEAP | Staff | Voucher codes {% endblock %}
{% block sidebar-ccf-application-items %} {{block.super}}
{% endblock sidebar-ccf-application-items %}


{% block main %}

<div class="p-4 container-fluid">
  <p class="h3">History</p>
  <div>
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">Download</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
				{% for file in object_list %}
				<tr>
					<td>
						<a href="{{ file.Link }}" download>
							<i class="material-icons" style="vertical-align: middle">file_download</i>
							Download
						</a>
					</td>
					<td>{{ file.Name }}</td>
					<td id="archived_dt">{{ file.Date|date:"c" }}</td>
				</tr>
				{% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
	window.onload = function() { $("td[id*='dt']").each(function() { $(this).text(formatDay($(this).text())) }); }
		function formatDay(dateString) { return dayjs(dateString).format('MMM DD, YYYY h:mm A') }
</script>
{% endblock %}
