{% extends "base_staff.html" %}
{% load static i18n %}
{% load widget_tweaks %}
{% load django_tables2 %}

{% block main %}
<div class="p-4 container-fluid">
  <p class="h3">{% blocktrans %}Approved Applications{% endblocktrans %}</p>
  <div class="p-4">
    Showing <b>{{ num_approved }}</b> approved applications ready for payment.
  </div>
  <div class="" role="toolbar">
    <div class="">
      <div class="border p-3">
        <div class="row">
          <div class="form-group col-sm-4 col-md-3">
        		<button
        			class="btn btn-primary btn-sm btn-icon"
							onclick="updateStatus('{{ csrf_token }}', {{ approved_ids }}, true)"
        			>
          		<i class="material-icons md-18">send</i>{% translate 'Download All for Payment' %}
        		</button>
        	</div>
        	<div id="working" style="display: none;" class="spinner-border text-info "></div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12 col-md-12">
    				{% render_table tables.0 %}
        	</div>
        </div>
      </div>
    </div>
  </div>
  <p class="h3">{% blocktrans %}Applications Paid Out{% endblocktrans %}</p>
  <div class="" role="toolbar">
    <div class="p-4">
      Showing <b>{{ num_paid_out }}</b> applications paid.
    </div>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">{% translate 'Name' %}</th>
          <th scope="col">{% translate 'Affiliate ID' %}</th>
          <th scope="col">{% translate 'Affiliate' %}</th>
          <th scope="col">{% translate 'Submit Date' %}</th>
          <th scope="col">{% translate 'Last Updated' %}</th>
          <th scope="col">{% translate 'Status' %}</th>
          <th scope="col">{% translate 'Note' %}</th>
          <th scope="col">{% translate 'Code' %}</th>
          <th scope="col">{% translate 'Phone' %}</th>
          <th scope="col">{% translate 'Address' %}</th>
        </tr>
      </thead>
      <tbody>
				{% for app in paid_out_apps %}
        <tr>
          <td><a href="{% url 'staff:application-detail' app.application_id %}">{{ app.last_name }}, {{ app.first_name }}</a></td>
          <td>{{ app.vouchercode.affiliate.distributor_id }}</td>
          <td>{{ app.vouchercode.affiliate.name }}</td>
          <td id="submitted_dt">{{ app.submitted_date|date:"c" }}</td>
          <td id="submitted_dt">{{ app.status_last_modified|date:"c" }}</td>
          <td>{{ app.get_status_display }}</td>
          <td>{{ app.note|linebreaksbr }}</td>
          <td>{{ app.vouchercode_str }}</td>
          <td>{{ app.phone_number }}</td>
          <td>{{ app.get_full_address }}</td>
        </tr>
				{% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  function updateStatus(csrf_token, application_ids, auto_reload) {
  		$("#working").show()
			$.ajaxSetup({
					beforeSend: function (xhr) {
							xhr.setRequestHeader('X-CSRFToken', csrf_token);
						}
				});
			$.ajax({
					type: 'post',
					url: `approved/`,
					// data: {
					// 		application_ids: JSON.stringify(application_ids)
					// },
					timeout: 0,
					success: function (response) {
							$("#working").hide()
							// Save the response as a CSV file
							const downloadLink = document.createElement("a");
							const blob = new Blob([response]);
							const url = URL.createObjectURL(blob);
							downloadLink.href = url;
							// E.g. batchCardCreate_2021022521_957_OSI Baltimore.csv
							downloadLink.download =
								`batchCardCreate_${dayjs(new Date()).format('YYYYMMDD')}_957_OSI Baltimore.csv`;
							document.body.appendChild(downloadLink);
							downloadLink.click();
							document.body.removeChild(downloadLink);
							if (auto_reload) {
									location.reload();
								}
						},
					error: function (e) {
							console.error(e);
							$("#working").hide()
						}
				})
  	}
</script>
<script>
	window.onload = function() { $("td[id*='dt']").each(function() { $(this).text(formatDay($(this).text())) }); }
  function formatDay(dateString) { return dayjs(dateString).format('MMM DD, YYYY h:mm A') }
</script>
{% endblock main %}
