{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {{ block.super }}
    <title>{% block title %}CEAP Staff{% endblock %}</title>
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <script
    	src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"
    	integrity="sha256-NTsR4SOm3YHfJrmrmvBtEYqfQ6jQ5yvEKMhgQe3DIl0="
    	crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="{% static 'staff/js/dashboard.js' %}"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'staff/css/dashboard.css' %}">
    {% endblock head %}
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0"
            href="{% url 'staff:index' %}">
            {% block portal-identifier %}
            CEAP / Staff
            {% endblock portal-identifier %}
        </a>
    </nav>
    <div class="container-fluid">
        <div class="row">

            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    {% block body %}
                    <ul class="nav flex-column">
                        {% block sidebar-standalone-items %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'staff:index' %}">
                                <i class="material-icons">dashboard</i>
                                Dashboard
                            </a>
                        </li>
                        {% endblock sidebar-standalone-items %}
                    </ul>
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>CEAP Applications</span>
                    </h6>
                    <ul class="nav flex-column">
                        {% block sidebar-ccf-application-items %}
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'staff:ccf-application-list' %}">
                                <i class="material-icons">people</i>
                                All Applications
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'staff:payments' %}">
                                <i class="material-icons">payment</i>
                                Payment Actions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'staff:payments-archive' %}">
                                <i class="material-icons">unarchive</i>
                                Payment Export Archive
                            </a>
                        </li>
                        {% endblock sidebar-ccf-application-items %}
                    </ul>
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Voucher Codes</span>
                    </h6>
                    <ul class="nav flex-column">
                        {% block sidebar-voucher-items %}
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'staff:voucher-gen' %}">
                                <i class="material-icons">insert_emoticon</i>
                                Generate
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'staff:voucher-list' %}">
                                <i
                                    class="material-icons">format_list_bulleted</i>
                                Codes
                            </a>
                        </li>
                        {% endblock sidebar-voucher-items %}
                    </ul>
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Addresses</span>
                    </h6>
                    <ul class="nav flex-column">
                        {% block sidebar-address-items %}
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'staff:address-whitelist' %}">
                                <i class="material-icons">domain</i>
                                Preapproved Addresses
                            </a>
                        </li>
                        {% endblock sidebar-address-items %}
                    </ul>
                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Account</span>
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            {% if  user.is_superuser %}
                            <a class="nav-link"
                                href="{% url 'admin:auth_user_add' %}">
                                <i class="material-icons">face</i>
                                Create User
                            </a>
                            {% endif %}
                            <a class="nav-link"
                                href="{% url 'admin:password_change' %}">
                                <i class="material-icons">update</i>
                                Reset Password
                            </a>
                            <a class="nav-link"
                                href="{% url 'two_factor:profile' %}">
                                <i class="material-icons">security</i>
                                Account Security
                            </a>
                            <a class="nav-link" href="{% url 'staff:logout' %}">
                                <i class="material-icons">power_settings_new</i>
                                Sign out
                            </a>
                        </li>
                    </ul>
                    {% endblock body %}
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% include "staff/snippets/toast_messages.html" %}
                {% block main %}{% endblock %}
            </main>
        </div>
    </div>
    {% include 'session_security/all.html' %}
</body>

</html>
