a,
a:hover {
    color: #05a8aa;
}

body {
  font-family: 'Gotham', sans-serif;
  font-size: .875rem;
  flex-direction: column;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active:focus {
    background: #05a8aa !important;
    border: #05a8aa solid !important;
}

.btn-light,
.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light:active:focus {
    background: white !important;
    border: grey solid !important;
    color: grey !important;
}

.row-red {
	color: red;
}

.btn-primary {
  font-weight: normal;
  letter-spacing: .05rem;
  background: #05a8aa;
  border: #05a8aa solid;
  text-transform: uppercase;
}

.btn-primary:hover {
  background: #138496 !important;
  border-color: #117a8b !important;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
  background: #138496 !important;
  border-color: #117a8b !important;
  box-shadow: 0 0 0 0.2rem rgba(5, 168, 170,.5) !important;
}

.btn-sm {
  padding-left: 16px;
  padding-right: 16px;
}

/* less padding on the left when an icon is used e.g. for the search button */
.btn-sm.btn-icon {
  padding-left: 12px;
}

.container-fluid {
  margin: 0 auto; /*make it centered*/
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

header {
  background: #05a8aa;
}

main {
  display: block;
}

.material-icons {
  vertical-align: text-bottom;
}

.material-icons.md-18 {
  font-size: 18px;
  vertical-align: middle;
  display: inline-flex;
  padding-bottom: 2px;
  padding-right: 4px;
 }

 /*
 * rejection confirmation modal
 */
 .modal-dialog-button {
  font-size: 0.75em;
}


 /*
 * Navbar
 */

.navbar {
  background-color: #05a8aa;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}



.sidebar .nav-link {
  font-weight: normal;
  color: #333;
}


.sidebar .nav-link .material-icons {
  margin-right: 4px;
  color: #424242;
  vertical-align: middle;
  display: inline-flex;
  padding-bottom: 3px;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .material-icons,
.sidebar .nav-link.active .material-icons {
  color: inherit;
}

.sidebar-heading {
  font-size: .7857rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/*
 * Toast (messages)
 */

 .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.toast-stack {
  position: absolute;
  right: 0;
  z-index: 99;
}

/*
 * Content
 */

 [role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

@font-face {
    font-family: "Gotham";
    src: url("font/Gotham-Book.woff2") format('woff2');
}
@font-face {
    font-family: "Gotham";
    src: url("font/Gotham-BookItalic.woff2") format('woff2');
    font-style: italic;
}
@font-face {
    font-family: "Gotham";
    src: url("font/Gotham-BookItalic.woff2") format('woff2');
    font-style: oblique;
}
@font-face {
    font-family: "Gotham";
    src: url("font/Gotham-Bold.woff2") format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: "Gotham";
    src: url("font/Gotham-BoldItalic.woff2") format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Gotham";
    src: url("font/Gotham-BoldItalic.woff2") format('woff2');
    font-weight: bold;
    font-style: oblique;
}
