{% extends "base_form.html" %}
{% load i18n %}
{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}
{% block formcontent %}

<div class="alert alert-success" role="alert">
    {% translate "disclosure_vouchercode_success" %}
</div>

<h4>
    {% translate "applicant_heading1" %}
</h4>

{% translate "profile_first_name" as first_name_title_text %}
{% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 208px;" form_field=form.first_name title_text=first_name_title_text %}
{% translate "profile_last_name" as last_name_title_text %}
{% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 256px;" form_field=form.last_name  title_text=last_name_title_text %}

<h4>
    {% translate "address_heading1" %}
</h4>
<p>
    {% translate "address_paragraph1" %}
</p>

<div class="my-3 alert alert-info">
    {% translate "address_paragraph3" %}
</div>
{% translate "address_street_addr" as addr1_text %}
{% translate "address_street_addr_example" as addr1_text_example %}
{% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 328px;" form_field=form.addr1 title_text=addr1_text example_text=addr1_text_example%}
{% translate "address_apartment" as addr2_text %}
{% translate "address_apartment_example" as addr2_text_example %}
{% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 328px;" form_field=form.addr2 title_text=addr2_text example_text=addr2_text_example%}
{% translate "address_city" as city_title_text %}
{% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 240px;" form_field=form.city title_text=city_title_text example_text=city_name%}
{% translate "address_state" as state_title_text %}
{% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 184px;" form_field=form.state title_text=state_title_text %}
{% translate "address_zip_code" as zip_code_title_text %}
{% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 144px;" form_field=form.zip_code title_text=zip_code_title_text example_text=example_city_zip_code %}

{% translate "contact_phone_number_and_tip" as phone_number_title_text %}
{% translate "contact_phone_number_example" as phone_number_example_text %}
{% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 164px;" form_field=form.phone_digits title_text=phone_number_title_text example_text=phone_number_example_text%}
{% translate "contact_email_example" as email_example_text %}
{% translate "contact_email" as email_title_text %}
{% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 328px;" form_field=form.email title_text=email_title_text example_text=email_example_text %}
<div class="alert alert-info" role="alert">
    {% translate "contact_no_email_alert" %}
</div>

{% endblock formcontent %}
