{% extends "base_ccf.html" %}
{% load static i18n %}
{% block content %}
<h4>
  {% translate 'confirmation_application_approved' %}
</h4>
<p>
{% translate "confirmation_paragraph1" %}
</p>
<p>
<form>
  <input class="btn btn-primary btn-lg btn-block text-uppercase" type="button" id="print" onclick="window.print()"
         value="{% translate 'print_this_page' %}">
</form>
</p>
<p>

<ul>
  <li>   {% translate "confirmation_bulletpoint_1" %}
  <li>   {% translate "confirmation_bulletpoint_2" %}
  <li>   {% translate "confirmation_bulletpoint_3" %} {{customer_service_phone_number}}.
  <li>    {% translate "confirmation_bulletpoint_4" %}
		</br>
		<img src="{% static 'mailer.png' %}" alt="Mailer Image" style="border: 1px solid #000">
  <li>    {% translate "confirmation_bulletpoint_5" %}
  <li>    {% translate "confirmation_bulletpoint_6" %}
  <li> {% translate "confirmation_paragraph2" %}
  <a class="text-primary" href="{{ mayors_site_link }}" rel="noopener noreferrer" target="_blank">{{ mayors_site_name }}</a>
  {% translate "confirmation_paragraph3" %}
</ul>

</br>
<h3>{% translate "summary" %}</h3>
<div class="col">
  <b>{% translate "review_name" %}</b>
  <p>
  {{ first_name }} {{last_name}}
  </p>
  <b>{% translate "review_address" %}</b>
  <p>
  {{ addr1 }} <br />
  {% if addr2 %} {{ addr2 }} <br />
  {% endif %}
  {{ city }}, {{ state }}
  {{ zip_code }}
  </p>
  <b>{% translate "review_phone_number" %}</b>
  <p>
  {{ phone_number_display}}
  </p>
  {% if email %}
  <b>{% translate "review_email" %}</b>
  <p>
  {{ email }}
  </p>
  {% endif %}
</div>
{% endblock %}
