{% extends "base_form.html" %}
{% load i18n %}
{% block formcontent %}
<h4>
    {% translate "signature_eligibility_heading" %}
</h4>
<p>
    {% translate 'confirm_eligibility_part1' %}
    {% with application=application_model %}
    {{ application.first_name }} {{application.last_name}}
    {% endwith %}
    {% translate 'confirm_eligibility_part2' %}
</p>

{% translate "signature_signature_text" as signature_title_text %}
{% translate "signature_type_your_name_text" as signature_caption_text %}
{% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 328px;" form_field=form.signature title_text=signature_title_text caption_text=signature_caption_text %}
{% endblock %}
