{% extends "base_ccf.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col">
        <h2 class="text-center font-weight-normal">
            Welcome to the {{ fund_name_en }}!
        </h2>
        <h2 class="text-center font-weight-normal">
            ¡Bienvenido al {{ fund_name_es }}!
        </h2>
        <a href="/en/welcome" class="mt-4 btn btn-primary btn-lg btn-block text-uppercase">
            Apply in English
        </a>
        <a href="/es/welcome" class="mt-4 btn btn-orange btn-lg btn-block text-uppercase">
            Aplica en Español
        </a>
    </div>
</div>
{% endblock %}
