{% extends "base_ccf.html" %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col">
            <p>
                {% translate 'novouchercode_sentence1' %}
                <a class="text-primary" href="{{ mayors_site_link }}" target="_blank" rel="noopener noreferrer">{{ mayors_site_name }}</a>
                {% translate 'novouchercode_sentence2' %}
            </p>
    </div>
</div>
{% endblock %}
