{% extends "base_form.html" %}
{% load i18n %}
{% block formcontent %}
<h4>
  {% translate "requirements_header1" %}
</h4>
<p>
{% translate 'tos_para1' %}

<div class="form-check pl-0 py-3 mb-3">
  {{ form.tos }}
  <label class="form-check-label" for="id_{{form.tos.name}}">
    {% translate "signature_agree_tos" %}
  </label>
</div>
{% if form.tos.errors %}
<div class="alert alert-danger error-list my-3 mx-2 px-3 py-3" role="alert">
  {{ form.tos.errors }}
</div>
{% endif %}
{% translate 'tos_para2' %}
</p>
<p>
{% translate 'tos_para3' %}
<a class="text-primary" href="{{ tos_site_link }}" rel="noopener noreferrrer" target="_blank">{{ tos_site_name }}</a>
{% translate 'and' %}
<a class="text-primary" href="{{ privacy_site_link }}" rel="noopener noreferrrer" target="_blank">{{ privacy_site_name }}</a>.
</p>
{% endblock %}
