{% extends "base_ccf.html" %}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="col">
    <h4 class="text-left">
      {% translate 'unknownerror_heading' %}
    </h4>
    <p>
		{% translate 'unknownerror_paragraph1' %}
    </p>
    <p>
		{% translate 'if_problem_message' %}
    </p>
		<p>
		{% translate 'error_code' %}: {{status_code}}
		</p>
  </div>
</div>
{% endblock %}
