{% extends "base_form.html" %}
{% load i18n %}
{% block formcontent %}
{% comment %} <h4 class="text-left"> {% endcomment %}
	{% comment %}     {% translate "vouchercode_heading1" %} {% endcomment %}
	{% comment %} </h4> {% endcomment %}
{% if application_model.vouchercode_str %}
<div class="alert alert-success" role="alert">
  {% translate "vouchercode_enetered_code" %}
</div>
{% endif %}
<h4>{% translate "welcome_heading" %}</h4>
<p>
{% translate "welcome_paragraph1" %}
</p>
<ul>
  <li>{% translate "welcome_bullet_point1" %}</li>
  <li>{% translate "welcome_bullet_point2" %}</li>
  <li>{% translate "welcome_bullet_point3" %}</li>
</ul>
<p>
{% translate "welcome_paragraph2" %}
<a class="text-primary" href="{{ mayors_site_link }}" target="_blank" rel="noopener noreferrer">{{ mayors_site_name }}</a>
{% translate "welcome_paragraph3" %}
</p>
<div class="voucher-code-input-form">
  {% translate "vouchercode_title_text" as vouchercode_title_text %}
  {% translate "vouchercode_example_text" as vouchercode_example_text %}
  {% include "text_input_form.html" with extra_form_field_class="px-0" extra_styles="max-width: 240px;" form_field=form.voucher_input title_text=vouchercode_title_text example_text=vouchercode_example_text%}
</div>
<p class="my-2">
<a class="text-primary" href="{% url 'no-code' %}">{% translate "vouchercode_no_accesscode" %}</a>
</p>
<div class="alert alert-info my-3" role="alert">
  <p>{% translate "vouchercode_application_note1" %}</p>
</div>
{% endblock %}
{% block extra_body_scripts %}
<script>
  function isVoucherKey(evt) {
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      return (charCode == 45) || // dash
        (charCode > 64 && charCode < 91) || // upercase letters
        (charCode > 96 && charCode < 123) || // lowercase letters
        (charCode == 13); // enter key for form submission
    }
</script>
{% endblock extra_body_scripts %}
