{% extends "base_staff.html" %}
{% block title %}CEAP | Staff | Voucher codes {% endblock %}
{% block sidebar-ccf-application-items %} {{block.super}}
{% endblock sidebar-ccf-application-items %}
{% load static i18n %}


{% block main %}

<div class="p-4 container-fluid">
  <!-- Invalidate code success alert -->
  {% if success %}
  <p class="alert alert-success" role="">
  Successfully invalidated
  {{ num_codes_invalidated }}
  code(s).
  </p>
  {% endif %}
  <p class="h3">{% blocktrans %}Codes{% endblocktrans %}</p>

  <!-- Code search form -->
  <style>
form          { display: table;      }
p:not(.alert) { display: table-row;  }
label         { display: table-cell; padding: 0px 10px 15px 0px ;}
input         { display: table-cell; }
  </style>
  <div class="" role="toolbar">
    <span style="padding-top: 10px">
      <form class="border p-3 col-md-12" style="display: flex;" action="" method="get" class="form">
				<div class="col-md-3" style="display: inline-block;">
					<div style="margin-left: -15px">
						{{ filter.form.as_p }}
					</div>
					<div class="row">
						<button class="btn btn-primary btn-sm btn-icon" role="submit">
							<i class="material-icons md-18">search</i>{% translate	'Search' %}
						</button>
					</div>
					{% if params_GET and not success %}
					<div class="row">
						<a
							style="color: white; margin-top: 8px;"
							class="btn btn btn-secondary btn-large text-uppercase"
							onclick="downloadCodes()"
							>
							{% translate	'Download Filtered' %}
						</a>
						<div id="working" style="margin-left: 8px; align-self: center; display: none;" class="spinner-border text-info "></div>
					</div>
					{% endif %}
				</div>
				<div class="col-md-9" style="display: inline-block; flex-align: stretch;">
					<table class="table table-hover mt-4">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">{% translate  'Affiliate' %}</th>
								<th scope="col">ID</th>
								<th scope="col">{% translate  'Affiliate' %}</th>
								<th scope="col">ID</th>
								<th scope="col">{% translate  'Affiliate' %}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>802123</td><td>Bon Secours Community Works</td>
								<td>802124</td><td><div>Banner Neighborhoods</div> Community Corporation</td>
								<td>802125</td><td>CASA of Maryland, Inc.</td>
							</tr>
							<tr>
								<td>802126</td><td>Center for Urban Families</td>
								<td>802127</td><td>City of Refuge Baltimore</td>
								<td>802128</td><td>Elev8</td>
							</tr>
							<tr>
								<td>802130</td><td>Esperanza Center</td>
								<td>802131</td><td>Urban Strategies Baltimore</td>
								<td>802132</td><td>Job Opportunities Task Force</td>
							</tr>
							<tr>
								<td>802133</td><td>Historic East Baltimore Community Action Coalition</td>
								<td>802134</td><td>Safe Streets – Park Heights</td>
								<td>802135</td><td>Safe Streets – Cherry Hill</td>
							</tr>
							<tr>
								<td>802136</td><td>Center for Urban Families</td>
								<td></td><td></td>
							</tr>
						</tbody>
					</table>
				</div>
      </form>
    </span>
  </div>

  <!-- Number of codes found (+ invalidate button if a search was submitted) -->
  <div>
    <p>
    <br />
    {% if params_GET and not success %}
    Showing <b>{{ object_list | length }}</b> code{{ object_list|length|pluralize:"s" }} of out <b>{{ filter.qs | length }}</b>.
    <button style="margin-left: 8px;" class="btn btn btn-danger btn-large text-uppercase" id="invalidate" role="submit">
      {% translate  'Invalidate' %}
    </button>
    {% else %}
    Total of <b>{{ filter.qs | length }}</b> code{{ object_list|length|pluralize:"s" }} found.
    {% endif %}
    </p>
  </div>

  <!-- Code search results -->
  <div>
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th scope="col">{% translate  'Code' %}</th>
          <th scope="col">{% translate  'Channel' %}</th>
          <th scope="col">{% translate  'Affiliate' %} ID</th>
          <th scope="col">{% translate  'Affiliate' %}</th>
          <th scope="col">{% translate  'Campaign' %}</th>
          <th scope="col">{% translate  'Amount' %}</th>
          <th scope="col">{% translate  'Created' %}</th>
          <th scope="col">{% translate  'Expires' %}</th>
          <th scope="col">{% translate  'Application' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for voucher_code in object_list %}
        <tr>
          <td>{{ voucher_code.code }}</td>
          <td>{{ voucher_code.batch.channel }}</td>
          <td>{{ voucher_code.batch.affiliate.distributor_id }}</td>
          <td>{{ voucher_code.batch.affiliate.name }}</td>
          <td>{{ voucher_code.batch.campaign }}</td>
          <td>{{ voucher_code.amount }}</td>
          <td id="create_dt">{{ voucher_code.batch.created|date:"c" }}</td>
          <td id="expire_dt">{{ voucher_code.batch.expiration_date|date:"c" }}</td>
          {% if voucher_code.application_id %}
          <td><a href="{% url 'staff:application-detail' voucher_code.application_id %}">
							{{ voucher_code.application.last_name }}, {{ voucher_code.application.first_name }}
						</a></td>
						{% else %}
						<td><a href="{% url 'staff:create-app-redirect' voucher_code.code_formatted %}" target="_blank">
								Create <i class="material-icons md-18">launch</i>
							</a></td>
							{% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
		{% include 'staff/snippets/pagination.html' with object_list=object_list%}
  </div>
</div>

<!-- Invalidate confirmation modal -->
<div class="modal" id="voucher-invalidate-mdl" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Review
      </div>
      <div class="modal-body">

        <p>
        Are you sure you want to invalidate the
        <b><span id="num_codes" style="white-space: pre-wrap;"></span></b>
        code(s) from this search?
        </p>
        <br/>

        <form action="{% url 'staff:voucher-list-invalidate' %}" style="display:block;margin-bottom: 10px" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-block btn-large text-uppercase" name='submit-invalidate' value='{{ code_list }}'>Invalidate</button>
        </form>
        <button type="button" class="btn btn-outline-secondary btn-block btn-large text-uppercase" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Button setup scripts -->
<script>
  // Set up confirmation modal when invalidate is clicked
  $('#invalidate').attr('type', 'button');
		$('#invalidate').click(function() {
				$('#voucher-invalidate-mdl').modal('show');
				$('#num_codes').text('{{ filter.qs | length }}');
				$('#confirm-btn').click(function() {
						$('#voucher_form').submit();
					});
			});
</script>
<script>
  function downloadCodes(code_ids) {
  		$("#working").show()
			$.ajaxSetup({
					beforeSend: function (xhr) {
							xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
						}
				});
			$.ajax({
					type: 'get',
					url: `download${window.location.search}`,
					timeout: 0,
					success: function (response) {
							$("#working").hide()
							// Save the response as a CSV file
							const downloadLink = document.createElement("a");
							const blob = new Blob([response]);
							const url = URL.createObjectURL(blob);
							downloadLink.href = url;
							downloadLink.download =
								`filteredCodes_${dayjs(new Date()).format('YYYY-MM-DD_HH-mm-ss')}.csv`;
							document.body.appendChild(downloadLink);
							downloadLink.click();
							document.body.removeChild(downloadLink);
						},
					error: function (e) {
							console.error(e);
							$("#working").hide()
						}
				})
		}
</script>
<script>
	window.onload = function() { $("td[id*='dt']").each(function() { $(this).text(formatDay($(this).text())) }); }
		function formatDay(dateString) { return dayjs(dateString).format('MMM DD, YYYY h:mm A') }
</script>
{% endblock main %}
